# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
logs/
banking_data_generator/logs/

# Generated Output
output/
banking_data_generator/output/

# Python packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env